<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Article {{form.post_title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bloggify/styles.css' %}">

</head>
<body>
    <div class="delete_container">
        <h2>are you sure that you want to delete '{{object.title}}' ?</h2>
        <div class="choices_container">
            <form method="post">
                {% csrf_token %}
                <button type="submit" value="confirm">yes</button>
                <button type="button" value="deny">
                    <a href="{% url 'bloggify:index'%}">no</a>
                </button>
            </form>
        </div>
    </div>
    
</body>
</html>