<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post an article</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bloggify/styles.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'bloggify/icons/favicon.svg' %}">
</head>
<body>
    <div class="post_article">
        <h1>Write a new article</h1>
        <p class="article-draft-notice">
            After you post, this article will be saved as a draft until an admin approves it.
        </p>
        <form method="post" action="{% url 'bloggify:post_article' %}">
                {% csrf_token %}

                <!-- Title field -->
                <div class="form-group">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {% if form.title.errors %}
                        <div class="error">{{ form.title.errors }}</div>
                    {% endif %}
                </div>

                <!-- Body field -->
                <div class="form-group">
                    {{ form.body.label_tag }}
                    {{ form.body }}
                    {% if form.body.errors %}
                        <div class="error">{{ form.body.errors }}</div>
                    {% endif %}
                </div>

                <!-- Category field -->
                <div class="form-group">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                    {% if form.category.errors %}
                        <div class="error">{{ form.category.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit">Post</button>
        </form>
    </div>
</body>
</html>
