<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update article</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bloggify/styles.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'bloggify/icons/favicon.svg' %}">

</head>
<body>

<div class="form-container">
    <h1>Edit article</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Submit</button>
    </form>
</div>
    
</body>
</html>
